body {
  background: #fff;
  margin: 0;
  font: 18px Helvetica;
  text-align: center;
}
a:active, button:active, button:focus, a:focus {
  outline: none;
  box-shadow: insert 0 0 10px #333;
  -webkit-box-shadow: insert 0 0 10px #333;
  }
a:hover, button:hover {
  -webkit-box-shadow: insert 0 0 5px #666;
  }

.button-action, button.action, .button-warning, button.warning {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 200px;
  font-size: 16px;
  font-weight: 200;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.button-action, button.action {
  background: #008800;
  background: -webkit-gradient(linear, 0 0, 0 70%, from(#8ECF8E), to(#008800));
  background: linear-gradient(#8ECF8E, #008800 70%);
  border: 1px solid #003f00;
  text-shadow: 0 -1px 0 #003f00;
  color: #fff;
  }
.button-warning, button.warning {
  background: #ff0f0f;
  background: -webkit-gradient(linear, 0 0, 0 70%, from(#ff6f6f), to(#ff0f0f));
  background: linear-gradient(#ff6f6f, #ff0f0f 70%);
  border: 1px solid #ff0000;
  text-shadow: 0 -1px 0 #ff0000;
  color:#fff;
  }

legend {
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input {
  margin-bottom: 8px;
}
