body {
  background: #fff;
  margin: 0;
  font: 18px Helvetica;
  text-align: center;
}
a:active, button:active, button:focus, a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

.button-action, button.action, .button-warning, button.warning {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}
.button-action, button.action {
  background: #008800;
  background: -webkit-gradient(linear, 0 0, 0 70%, from(#8ECF8E), to(#008800));
  background: linear-gradient(#8ECF8E, #008800 70%);
  border: 1px solid #015F00;
  text-shadow: 0 -1px 0 #015F00;
  color: #fff;
  }
.button-action:active, button.action:active {
  box-shadow: inset 0 0 10px 2px #003f00;
  }
.button-warning, button.warning {
  background: #ff2f2f;
  background: -webkit-gradient(linear, 0 0, 0 70%, from(#ff6f6f), to(#ff2f2f));
  background: linear-gradient(#ff6f6f, #ff2f2f 70%);
  border: 1px solid #ff0000;
  text-shadow: 0 -1px 0 #ff0000;
  color:#fff;
  }
.button-warning:active, button.warning:active {
  box-shadow: inset 0 0 10px 2px #ff0000;
  }
